/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

r_int {
  display: block;
  text-align: center;
  margin-block: 8px;
  font-size:15px;
}

ad_astra {
  color: #92cbdf;
  font-size:23px;
  margin-block: 10px;
  padding-top:25px;
  display: block;
}

sub_topic {
  color: #92cbdf;
  margin-top: 30px;
  font-size:20px;
  display: block;
}

desc_ {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size:15px;
  display: inline-block;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 auto; /* Center the <hr> horizontally */
  width: 40%; /* Set the width to 50% of its container */
  opacity:50%;
}

.main_text {
  display: block;
  text-align: center;
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
